body{
    background-image: url(img/silverware.jpg);
    background-attachment: fixed;
}
header{ 
    font-size: 22pt;
    text-align: center;
}
h1{
    background-color: #F0F0F0 ;
    color: #A4A400 ;
    font-family: Lucida Sans Unicode, Helvetica, Arial, sans-serif;
    font-size: 18pt;
    text-decoration: underline;
}

body{
    
    color:#404040 ;
    font-size: 11pt; 
    font-family: Georgia, Garamond, sans-serif; 
}
a{
    color:  #A4A400 ; 
}

ul{
    list-style: url(/recipe/recipeImages/pie_bullet.png);
}
#comments{
    background-color:  #FFFFA8 ;
    text-indent: 50px;
}
footer{
    float: right;
}