body{
    background-color: lightgrey;
    color: rgb(17, 17, 24);
    font-family: verdana;
   
    
}
.first{
    align-items: center; 
    min-height: 100vh;
    display: inline;
    justify-content: center;
}
.pic{
    border-radius: 50%;
    margin-top: 20px;   
}
h1 {
    color: rgb(17, 17, 24);
    
}
a { 
    color: rgb(139, 11, 11);
    font-size: 120%;
}
ul{
    list-style: circle; 
}
img{
    border-radius: 50%;
}
.moods{
    display: flex;
    margin: 10px;
}
footer{
    float: right;
}
