body{
    background-color: lightgrey;
    color: rgb(17, 17, 24);
    font-family: verdana;
    line-height: 30px;
   
    
}
header{
    text-align: center;
}
.first{
    margin-left: auto;
     margin-right: auto;
     margin-top: 30px;
    width: 50%; 
  
}

h1 {
    color: rgb(17, 17, 24);
    text-align: center;
}
a { 
    color: rgb(126, 1, 1);
    font-size: 120%;
    text-decoration:  none;
}
a:hover{
    color:green;
    text-decoration:  underline;
}
ul{
    list-style: circle; 
}
.pic{

}
img{
    border-radius: 50%;
    /* border: 3px solid rgb(126, 1, 1); */
    
    
}

.moods{
    display: flex;
    margin: 10px;
}
footer{
    float: right;
    
}
